@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Manrope&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #222a2d;
  font-family: "Manrope", sans-serif;
  color: #e6e7e8;
  font-size: 62.5%;
}

/*Header*/
header {
  background-color: #222a2d;
  display: flex;
  justify-content: space-evenly;
}
header img {
  height: 120px;
  padding-top: 20px;
}
header nav {
  width: 35%;
}
header nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul a {
  font-family: "Bungee", sans-serif;
  color: #f87202;
  text-decoration: none;
  font-size: 1.75rem;
}
header nav ul a:hover {
  color: #e6e7e8;
}

/*Footer*/
footer {
  font-family: "Bungee", sans-serif;
  background-color: #222a2d;
  font-size: 2rem;
  color: #f87202;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  padding-bottom: 0px;
}
footer a {
  padding: 0px 5px;
}
footer a img {
  width: 50px;
}

/*banner del index*/
.banner {
  background-image: url(../media/banner.jpg);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 150px 0px;
}
.banner h1 {
  font-size: 7rem;
  font-family: "Bungee", sans-serif;
  color: #f87202;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.banner p {
  font-size: 2.5rem;
  color: #f87202;
  font-family: "Bungee", sans-serif;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  padding-top: 100px;
}

/*iconos del index*/
.iconos {
  background-color: #222a2d;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.iconos img {
  height: 200px;
}
.iconos h2 {
  font-size: 2.5rem;
  color: #f87202;
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

/*Archivo de Planes*/
.planes {
  background-color: #222a2d;
}
.planes h1 {
  font-family: "Bungee", sans-serif;
  color: #f87202;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.planes .tarjetas {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.planes .tarjetas h2 {
  color: #f87202;
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
  padding-bottom: 20px;
}
.planes .tarjetas p {
  font-size: 1.5rem;
  padding-bottom: 30px;
}
.planes .tarjetas a {
  background-color: white;
  color: #f87202;
  font-size: 1.5rem;
  border-color: #f87202;
}
.planes .tarjetas a:hover {
  background-color: #222a2d;
  border-color: #f87202;
  color: #f87202;
}

/*Archivo de Ejercicios*/
.ejercicios {
  background-color: #222a2d;
}
.ejercicios h1 {
  font-family: "Bungee", sans-serif;
  color: #f87202;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.ejercicios .col-lg {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.ejercicios h2 {
  display: flex;
  justify-content: center;
  color: #f87202;
  font-family: "Bungee", sans-serif;
  padding: 10px 0px;
}
.ejercicios h3 {
  font-family: "Manrope", sans-serif;
  color: #f87202;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}

/*Archivo de Tienda*/
.tienda {
  background-color: #222a2d;
}
.tienda h1 {
  font-family: "Bungee", sans-serif;
  color: #f87202;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.tienda h2 {
  font-size: 2rem;
  color: #f87202;
}
.tienda p {
  font-family: "Manrope", sans-serif;
  font-size: 1.7rem;
}
.tienda a {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  color: #f87202;
  border-color: #f87202;
}
.tienda a:hover {
  background-color: #222a2d;
  border-color: #f87202;
  color: #f87202;
}

/*Archivo de Contacto*/
.contacto {
  background-color: #222a2d;
  font-family: "Manrope", sans-serif;
  color: #f87202;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0px 500px 20px 500px;
}
.contacto h1 {
  font-family: "Bungee", sans-serif;
  color: #f87202;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.contacto label {
  padding: 10px 0px;
}
.contacto input {
  font-size: 1.75rem;
}
.contacto textarea {
  font-size: 1.75rem;
}

/*MediaQ*/
@media only screen and (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header img {
    height: 100px;
  }
  header nav ul a {
    font-size: 1.2rem;
    padding: 3.5px;
  }
  footer {
    font-size: 1.5rem;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 1.6rem;
    padding: 10px;
  }
  iconos h2 {
    padding-bottom: 15px;
  }
  .ejercicios h2 {
    font-size: 2rem;
  }
  .w-50 {
    width: 90% !important;
  }
  .tienda h1 {
    font-size: 3rem;
  }
  .contacto {
    padding: 20px 50px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 978px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header nav ul a {
    font-size: 1.6rem;
    padding: 5px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
    padding-top: 150px;
  }
  .w-50 {
    width: 50% !important;
  }
  .contacto {
    padding: 20px 75px;
  }
}
@media only screen and (min-width: 979px) and (max-width: 1500px) {
  header nav ul a {
    padding: 10px;
  }
  .w-50 {
    width: 70% !important;
  }
  .contacto {
    padding: 20px 250px;
  }
}

/*# sourceMappingURL=style.css.map */
