/*MediaQ*/

@media only screen and (max-width:480px){

    header{
        flex-direction: column;
        align-items:center;
        img{
            height: 100px;
        }
        nav{
            ul{
                a{
                    font-size: 1.2rem;
                    padding: 3.5px;
                }
            }
        }
    }

    footer{
        font-size: 1.5rem;
    }

    .banner{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 1.6rem;
            padding: 10px;
        }
    }

    iconos{
        h2{
            padding-bottom: 15px;
        }
    }

    .ejercicios{
        h2{
            font-size: 2rem;
        }
    }

    .w-50{
        width: 90%!important;
    }

    .tienda{
        h1{
            font-size: 3rem;
        }
    }

    .contacto{
        padding: 20px 50px;
    }

    

}

@media only screen and (min-width:481px) and (max-width:978px){
    
    header{
        flex-direction: column;
        align-items:center;
        nav{
            ul{
                a{
                    font-size: 1.6rem;
                    padding: 5px;
                }
            }
        }
    }

    .banner{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 2rem;
            padding-top: 150px;
        }
    }

    .w-50{
        width: 50%!important;
    }

    .contacto{
        padding: 20px 75px;
    }
}

@media only screen and (min-width:979px) and (max-width:1500px){

    header{
        nav{
            ul{
                a{
                    padding: 10px;
                }
            }
        }
    }

    .w-50{
        width: 70%!important;
    }

    .contacto{
        padding: 20px 250px;
    }
}