/*Archivo de Contacto*/

.contacto{
    background-color:$negro;
    font-family:$font2;
    color:$naranja;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0px 500px 20px 500px;
    h1{
        font-family: $font1;
        color:$naranja;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    label{
        padding: 10px 0px;
    }
    input{
        font-size: 1.75rem;
    }
    textarea{
        font-size: 1.75rem;
    }
}