/*Archivo de Ejercicios*/

.ejercicios{
    background-color: $negro;
    h1{
        font-family: $font1;
        color:$naranja;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .col-lg{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    h2{
        display: flex;
        justify-content: center;
        color: $naranja;
        font-family: $font1;
        padding: 10px 0px;
    }
    h3{
        font-family: $font2;
        color:$naranja;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
        font-size: 2rem;
    }
}