/*Archivo de Planes*/

.planes{
    background-color:$negro;
    font-family:$font2;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    h1{
        color:$naranja;
        font-family:$font1;
        font-size: 2rem;
        padding-bottom: 20px;
    }
    p{
        font-size: 1.5rem;
        padding-bottom: 30px;
    }
    a{
        background-color:white;
        color:$naranja;
        font-size: 1.5rem;
        border-color:$naranja;
    }
    a:hover{
        background-color:$negro;
        border-color:$naranja;
        color:$naranja;
    }
}
