/*Archivo de Planes*/

.planes{
    background-color: $negro;
    h1{
        font-family: $font1;
        color:$naranja;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .tarjetas{
        font-family:$font2;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        h2{
            color:$naranja;
            font-family:$font1;
            font-size: 2rem;
            padding-bottom: 20px;
        }
        p{
            font-size: 1.5rem;
            padding-bottom: 30px;
        }
        a{
            background-color:white;
            color:$naranja;
            font-size: 1.5rem;
            border-color:$naranja;
        }
        a:hover{
            background-color:$negro;
            border-color:$naranja;
            color:$naranja;
        }
    }
}

