/*Archivo de Tienda*/


.tienda{
    background-color:$negro;
    h1{
        font-family: $font1;
        color:$naranja;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    h2{
        font-size: 2rem;
        color:$naranja;
    }
    p{
        font-family:$font2;
        font-size: 1.7rem;
    }
    a{
        font-family:$font2;
        font-size: 1.5rem;
        color:$naranja;
        border-color:$naranja;
    }
    a:hover{
        background-color:$negro;
        border-color:$naranja;
        color:$naranja;
    }
}